#particles-js{
  height: 100vh;
}

.maintext{
  position: absolute;  
  color: #fff;
  font-family: 'Veredana';
  text-align: center;
  top: 20%;
  width: 100%;
  text-transform: uppercase;
  line-height: 1.5em;
}

h1{
  font-size: 100px;
  font-family: 'Veredana';
}
p{
  font-size: 40px;
}

br{
  display: block;
  margin: 50px 0;
  line-height:22px;
  content: " ";
}

.mainlink1{
  color: #fff;
  text-decoration: none;
  border: #ccc 1px solid;
  padding: 10px 15px;
  border-radius: 8px;
  line-height: 0.5em;
}

.mainlink1:hover{
  color: gray;
  border: #fff 5px solid;
}

html{
  background: black;
}

body{ 
	width:100%;
  height:100%;
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
}

